body{
	margin: 0;
}

.container{
	width: 82%;
	margin: auto;
}

.header{
	/*margin: 3px 0 0 0;*/
	border: 3px solid #330099;
	border-left-style: none;
	border-right-style: none;
}

.menu{
	/*padding: 44px 0 40px 0;*/
	padding: 3.1vw 0 2.9vw 0;
	text-align: right;
}

.menu__item{
	/*margin-right: 40px;*/
	margin-right: 2.75vw;
	/*font: 800 20px/25px Gilroy, Arial, Helvetica, sans-serif;*/
	font: 800 1.39vw/1.43vw Gilroy, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #585858;
}

.menu__button{
	/*padding: 13px 30px;*/
	padding: .84vw 2.1vw;
	/*font: 800 20px/25px Montserrat, Arial, Helvetica, sans-serif;*/
	font: 800 1.39vw/1.43vw Montserrat, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFF;
	background: #330099;
	border-radius: 50px;
}

.main{
	padding: 10.5vw 0;
	text-align: right;
	background: no-repeat url(img/img_background.jpg);
	background-size: cover;
}

.main__title{
	margin: 0 0 .6vw 0;
	padding: 0 0 0 53%;
	font: 900  2.78vw/3.4vw Montserrat, Arial, Helvetica, sans-serif;
	color: #330099;
}

.main__description{
	margin: 0;
	padding: 0 0 0 70%;
	font: bold  2.08vw/2.5vw Montserrat, Arial, Helvetica, sans-serif;
	color: #FFF;
}
.main__description_first-line{
	    margin-inline-end: .6vw;
}

/* Заголовки <h2> (можно было написать просто h2...) */
.advantages__header,
.skills__header,
.feedback__header{
	font: 900 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #585858;
}

.advantages{
	background: #F9F9F9;
}

.advantages__card-header{
	font: bold 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.advantages__card-description,
.skills__card_description{
	font: 500 20px/25px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.advantages__button{
	font: 800 20px/25px Montserrat, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFDA45;
	background: #330099;
}

.skills__card_header{
	font: 600 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.feedback__description{
	font: 600 20px/24px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.feedback__form-name,
.feedback__form-tel,
.feedback__form-email{
	font: 600 15px/18px Montserrat, Arial, Helvetica, sans-serif;
	color: #858585;
}

.feedback__form-button{
	font: 900 20px/24px Montserrat, Arial, Helvetica, sans-serif;
	color: #FFF;
	background: #4AB272;
}

.footer{
	background: #330099;  /* Для визуализации текста */
}

.footer__header,
.footer__copyright{
	font: 20px/24px Roboto, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFF;
}

@media screen and (max-width: 755px) {
	/**/
}