body{
	margin: 0;
}

.container{
	width: 82%;
	margin: auto;
}

.header{
	border: 3px solid #330099;
	border-left-style: none;
	border-right-style: none;
}

.menu{
	padding: 3.1vw 0 2.9vw 0;
	text-align: right;
}

.menu__item{
	margin-right: 2.75vw;
	font: 800 1.39vw/1.43vw Gilroy, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #585858;
}

.menu__button{
	padding: .84vw 2.1vw;
	font: 800 1.39vw/1.43vw Montserrat, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFF;
	background: #330099;
	border-radius: 50px;
}

.hamburger-menu{
	display: none;
}

#hamburger-menu__toggle {
  display: none;
}

.hamburger-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 24px;
  right: 30px;
  width: 23px;
  height: 1px;
  cursor: pointer;
  visibility: hidden;
  z-index: 5;
}

/* добавляем "гамбургер" */
.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #330099;
}
.hamburger-menu__btn > span::before {
  content: '';
  top: -8px;
}
.hamburger-menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.hamburger-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 4;
}

/* элементы меню */
.hamburger-menu__box_item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font: 500 30px/36px roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: background .5s;
}

.hamburger-menu__box_item:hover{
	background: #ECF3FF;
}

.hamburger-menu__box_item_active{
	background: #ECF3FF;
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}
#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#hamburger-menu__toggle:checked ~ .hamburger-menu__box {
  visibility: visible;
  right: 0;
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  transition-duration: .25s;
}
.hamburger-menu__box {
  transition-duration: .25s;
}
.hamburger-menu__box_item {
  transition-duration: .25s;
}

.main{
	padding: 10.5vw 0;
	text-align: right;
	background: no-repeat url(img/img_background.jpg);
	background-size: cover;
}

.main__title{
	margin: 0 0 .6vw 0;
	padding: 0 0 0 53%;
	font: 900  2.78vw/3.4vw Montserrat, Arial, Helvetica, sans-serif;
	color: #330099;
}

.main__description{
	margin: 0;
	padding: 0 0 0 70%;
	font: bold  2.08vw/2.5vw Montserrat, Arial, Helvetica, sans-serif;
	color: #FFF;
}
.main__description_first-line{
	    margin-inline-end: .6vw;
}

/* Заголовки <h2> (можно было написать просто h2...) */
.advantages__header,
.skills__header,
.feedback__header{
	font: 900 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #585858;
}

.advantages{
	background: #F9F9F9;
}

.advantages__card-header{
	font: bold 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.advantages__card-description,
.skills__card_description{
	font: 500 20px/25px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.advantages__button{
	font: 800 20px/25px Montserrat, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFDA45;
	background: #330099;
}

.skills__card_header{
	font: 600 30px/37px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.feedback__description{
	font: 600 20px/24px Montserrat, Arial, Helvetica, sans-serif;
	color: #585858;
}

.feedback__form-name,
.feedback__form-tel,
.feedback__form-email{
	font: 600 15px/18px Montserrat, Arial, Helvetica, sans-serif;
	color: #858585;
}

.feedback__form-button{
	font: 900 20px/24px Montserrat, Arial, Helvetica, sans-serif;
	color: #FFF;
	background: #4AB272;
}

.footer{
	background: #330099;  /* Для визуализации текста */
}

.footer__header,
.footer__copyright{
	font: 20px/24px Roboto, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFF;
}


@media(max-width: 755px){

.header {
	border: none;
	margin: 0;
}

.menu{
	padding: 16px 0 20px 0;
}

.menu__button {
    padding: 5px 11px 5px 12px;
    font: 800 8px/10px Montserrat, Arial, Helvetica, sans-serif;
    margin: 0 43px 0 0;
}

.menu__item{
	display: none;
}

.hamburger-menu{
	display: inline;
}

.hamburger-menu__btn {
	visibility: visible;
}

.main {
    padding: 8vw 0 0 0;
    background-position: 13% 0;
}

.main__title {
	margin: 0;
	text-align: center;
    padding: 0 0 0 12%;
	font: 900 6.25vw/7.5vw Montserrat, Arial, Helvetica, sans-serif;
}

.main__title_two-line{
	margin-left: 7%;
}

.main__description {
	padding: 0 1% 37vw 28%;
	font: 700 5vw/6.3vw Montserrat, Arial, Helvetica, sans-serif;
}